.App {
    background-color: lightgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 150px;
}

.isi {
    background-color: white;
    padding: 30px;
}

h1 {
    display: inline-block;
    padding: 10px;
}

.satu {
    float: right;
}

.dua {
    float: left;
}