.App {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.content {
  margin: 100px 250px;
  border: 1px solid;
  border-radius: 20px;
  background-color: white;
  padding: 30px;
}

header {
  text-align: center;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 20px;
}

.field {
  margin-left: 4rem;
}

.field2 {
  margin-left: 13.8rem;
}

.App-link {
  color: #61dafb;
}

.btn {
    border-radius: 20px;
}

