.App {
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 150px;
}

header {
    text-align: center;
}

.tabel {
    border: 2px solid;
    font-size: 16px;
    margin-left:auto; 
    margin-right:auto;
}

.tabel td {
    border: 1px solid white;
    height: 30px;
    width: 200px;
    font-weight: 500;
}

thead th {
    background-color: lightgrey;
}

tbody td {
    background-color: lightsalmon;
}