.App {
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 80px;
}

header, form {
    text-align: center;
}

form .grup {
    margin-right: 10px;
    display: inline-block;
}


form .grup label {
    margin-right: 10px;
}

.tabel {
    border: 2px solid;
    font-size: 16px;
    margin-left:auto; 
    margin-right:auto;
}

.tabel td {
    padding-left: 10px;
}

.tabel .dua {
    border: 1px solid white;
    height: 30px;
    font-weight: 500;
}

.tabel .dua {
    width: 150px;
}

.tabel .satu {
    width: 50px;
    text-align: center;
}

.tabel .tiga {
    width: 150px;
    text-align: center;
}

.tabel button {
    margin-right: 5px;
    margin-right: 5px;
}

thead th {
    background-color: lightgrey;
}

tbody td {
    background-color: lightsalmon;
}